*{
    /* settings */
    text-decoration: none;
    list-style-type:none;
    /** h1 color:     color:rgb(9, 9, 32); **/
    /** font h1 : font-family: 'Allison', cursive; **/
    /** global font : font-family: 'Caveat', cursive; */

}
body{
    background-color: rgb(255, 255, 255);
    color:rgb(18, 2, 71);
    font-family: 'Caveat', cursive;
}
    .super-header{
        border:1px solid silver;
        text-align:center;
    }
    nav li{
        display:none;
    }
    img.logo-simplon{
        min-width:30px;
        max-width:100px;
        min-height:30px;
        max-height:60px;
        width:100%;
        height:100%;
    }
<<<<<<< HEAD
    img.logo-capgemini{
        min-width:30px;
        max-width:100px;
        min-height:30px;
        max-height:100px;
        width:100%;
        height:100%;
=======
    img.logo-capgemini {
    
        height:30px;
>>>>>>> main
    }
    h1{
        font-size:3em;
        color:rgb(50, 11, 114);
        font-family: 'Allison', cursive;
    }

/** style nav **/
/* menu déroulant js pour présenter les simploniennes */

/** / fin menu style */

footer{
    padding:5px;
    background:silver;
    color:rgb(9, 9, 32);
    text-align:center;
}