/** Brunembert : équipe.php mediaquerries */
@media only screen and (min-width:1367px){
    /** Brunembert : Home media querries **//** pour pc**/
    .content-equipe{
        background:linear-gradient(rgb(9, 46, 95),#92b3b8, rgb(116, 151, 192));
        margin-top:100px;
        margin-bottom:220px;
    }
        h1{
            margin-top:110px;
            padding:10px;
            font-size:0.5em;
        }
        h2{            
            color:rgb(220, 221, 186);
            padding:10px;
            font-size:0.9em;
        }
        /** float left: **/
        .equipe-intro{
            position:absolute;
            float:left;
            top:130px;
            width:350px;
            z-index:1000;
            margin-left:50px;
            height:60px;
            padding:20px;
            border-radius:10px;
            border-radius:10px;
         }
         .equipe-intro a{
            color:rgb(9, 78, 95);
        }
         .equipe-intro p{
            color:rgb(179, 197, 190);
            background:linear-gradient(rgb(9, 46, 95),#92b3b8, rgb(116, 151, 192));
            padding:50px;
            margin:20px;
            border-radius:10px;
            text-align:center;
        }
        .equipe-intro img{
            height:320px; 
            width:500px;
        }


        /** à droite **/
        .product{
            padding-left:100px;
            padding-right:50px;
            padding-top:20px;
            margin-left:50px;
            border:1px solid rgb(238, 240, 247);
            width:auto;
        }
            .product .main-img{
                margin-left:500px;
                max-width: 500px;
                display:block;
            }
                .product .main-img img{
                    max-width:500px;
                    margin:auto;
                }
                .product .thumb-img{
                    text-align: center;
                }
                    .product .thumb-img .box{
                        display:inline-block;
                        width:70px;
                        height:70px;
                        border:1px solid white;
                        margin:10px;
                        cursor:pointer;
                    }
                    .product .thumb-img .box.active{
                      border-color:blue;
                      border-width:2px;
                    }
                        .product .thumb-img .box .img{
                            max-width:100%;
                            max-height:100%;
                        }
                        .product .thumb-img .box p{
                            font-size:0.9em;
                            color:white;
                        }
  
       /** displayTexte**/
       .displayTexte{
           width:300px;
           height:600px;
           margin-left:800px;
           background:black;
           color:silver;
           font-size:2em;
           display:none;
       }
    }

    @media only screen and (min-width :768px) and (max-width:1366px){
    /* Styles pour cette Media Queries *//** pour tablette **/
        .content{
            margin-left:50px;
            margin-right:50px;
            margin-bottom:100px;
            background-color:rgb(9, 9, 39);
        }
        .equipe-intro{
            margin-left:120px;
            padding:20px;
        }
        .equipe-intro p{
            color:white;
        }
        .product .main-img img{
            width:70%;
            height:70%;
            margin-left:150px;
        }
        .thumb-img{
            position:absolute;
            top:500px;
            float:left;
            width:7%;
            height:7%;
        }

    }


    @media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
    /** pour phone **/
    .content{
        margin-left:10px;
        margin-right:10px;
        margin-bottom:100px;
        height:800px;
        color:rgb(9, 9, 39);
    }
    .equipe-intro{
        padding:20px;
        color:white;
        margin-top:300px;
        margin-left:50px;
    }
    .equipe-intro p{
        padding:20px;
        color:white;
    }
    .equipe-intro img{
      margin-left:-800px;
    }
    .product .main-img img{
        position:absolute;
        width:60%;
        height:38%;
       top:180px;
       margin-left:80px;
    }
    .thumb-img{
        position: absolute;
        top:150px;
        float:left;
        width:15%;
        height:15%;
    }

}
