/** Brunembert : équipe.php mediaquerries */
@media only screen and (min-width:1367px){
    /** Brunembert : Home media querries **//** pour pc**/
    .content-equipe{
        background:linear-gradient(rgb(9, 46, 95),#92b3b8, rgb(116, 151, 192));
        margin-top:100px;
        margin-bottom:220px;
    }
        h1{
            margin-top:110px;
            padding:10px;
            font-size:0.5em;
        }
        h2{            
            color:rgb(220, 221, 186);
            padding:10px;
            font-size:0.9em;
        }
        /** float left: **/
        .equipe-intro{
            position:absolute;
            float:left;
            top:150px;
            z-index:1000;
            margin-left:50px;
            height:200px;
            padding:20px;
            border-radius:10px;
            border-radius:10px;
         }
         .equipe-intro a{
            color:rgb(9, 78, 95);
        }
         .equipe-intro p{
            color:rgb(179, 197, 190);
            background:linear-gradient(rgb(9, 46, 95),#92b3b8, rgb(116, 151, 192));
            padding:50px;
            margin:20px;
            border-radius:10px;
            text-align:center;
        }

        /** à droite **/
        .product{
            padding-left:100px;
            padding-right:50px;
            padding-top:20px;
            margin-left:650px;
            border:1px solid rgb(238, 240, 247);
            width:auto;
        }
            .product.main-img{
                margin:auto;
                max-width: 500px;
                display:block;
            }
                .product .main-img img{
                    max-width:500px;
                    margin:auto;
                }
                .product .thumb-img{
                    text-align: center;
                }
                    .product .thumb-img .box{
                        display:inline-block;
                        width:70px;
                        height:70px;
                        border:1px solid white;
                        margin:10px;
                        cursor:pointer;
                    }
                    .product .thumb-img .box.active{
                      border-color:blue;
                      border-width:2px;
                    }
                        .product .thumb-img .box .img{
                            max-width:100%;
                            max-height:100%;
                        }
                        .product .thumb-img .box p{
                            font-size:0.9em;
                            color:white;
                        }
  
       /** displayTexte**/
       .displayTexte{
           width:300px;
           height:600px;
           margin-left:800px;
           background:black;
           color:silver;
           font-size:2em;
           display:none;
       }
    }

    @media only screen and (min-width :768px) and (max-width:1366px){
    /* Styles pour cette Media Queries *//** pour tablette **/
    }


    @media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
    /** pour phone **/
    }
