@media only screen and (min-width:1367px){
  /** Brunembert : Home media querries **//** pour pc**/

  .content-articles{
    margin-top:150px;
      margin-left:100px;
  }
  .img-size{
    max-height:100px;
    max-width:100px;
    width:auto;
    height:auto;
  }
  h3#brunembertInfo{
    color:rgb(55, 102, 163);
    background:rgb(204, 219, 228);
    font-size:1.2em;
    padding:5px;
}
  #astucesetbonsplans{
    color:rgb(3, 22, 73);
  }
  .question{
    background-color:rgb(19, 4, 39);
    padding:2px;
    color:white;
  }
  .vertical-align-mid{
    color:rgb(3, 22, 73);
  }
  p.answer{
    color:rgb(73, 167, 184);
  }
  .btn-articles{
    background:rgb(0, 183, 255);
    border:1px solid rgb(0, 183, 255);
    padding:5px;
    min-width:200px;
    font-size:2em;
    max-width:auto;
    color:white;
  }

  .details{
    box-shadow: 0 4px 6px -1px rgb(198, 207, 234);
    padding:50px;
    font-size:1em;
    width:500px;
    height:auto;
    display:inline-block;
  }  

}

  /** Brunembert : Home media querries **/

@media only screen and (min-width :768px) and (max-width:1366px){
/* Styles pour cette Media Queries *//** pour tablette **/
.content-articles{
  color:rgb(19, 4, 39);
  padding:20px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:100px;
}

.details{
  background:rgb(19, 4, 39);
  color:silver;
  width:300px;
  margin-top:20px;
  padding:20px;
  display:inline-block;
}
.btn-articles{
  background:rgb(0, 183, 255);
  border:1px solid rgb(0, 183, 255);
  padding:5px;
  max-width:auto;
  color:white;
}
.img-size{
  min-height:100px;
  max-height:300px;
  max-width:200px;
  min-width:30px;
  width:auto;
  height:auto;
}
  .firma-logo{
        width: calc(33.66667% - .75rem);
        height: 6.5rem;
        margin: 5px .375rem;
  }
  .firma-resim {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .img-padding-no{
    padding-right: 0px;
    padding-left: 0px;
  }
}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
/** pour phone **/
.content-articles{
  color:white;
  margin-bottom:100px;
  max-width:767px;
  width:auto;
  height:auto;
}
.content-articles p{
 width:280px;
}
.details{
  max-width:350px;
  background:rgb(9, 39, 136);
  color:white;
  padding:10px;
  margin-bottom:20px;
}
.btn-articles{
  background:rgb(0, 183, 255);
  border:1px solid rgb(0, 183, 255);
  padding:5px;
  max-width:auto;
  color:white;
}
.img-size{
  min-height:100px;
  max-height:300px;
  max-width:200px;
  min-width:30px;
  width:auto;
  height:auto;
}
  .firma-logo{
        width: calc(33.66667% - .75rem);
        height: 6.5rem;
        margin: 5px .375rem;
  }
  .firma-resim {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .img-padding-no{
    padding-right: 0px;
    padding-left: 0px;
  }
}
