/** Brunembert : illectronisme media querries **/
@media only screen and (min-width:1367px){
  /** Brunembert : Home media querries **//** pour pc**/
    .content-illectronisme{
      margin-top:150px;
      margin-bottom:200px;
      margin-left:300px;
      margin-right:300px;
      background-color:rgb(12, 23, 70);
    }
    .banniere-illectronisme img{
      height:200px;
      width:auto;
    }
    h1{
      color:rgb(122, 174, 218);
    }
      h2{
        text-align:center;
        color:rgb(72, 165, 252);
      }
        h3{
          color:rgb(136, 195, 243);
          padding-left:250px;
          padding-right:250px;
          text-align:center;
        }
    .description{
    padding:50px;
    text-align:center;
    margin-left:950px;
    margin-right:200px;
    background:white;
    border:2px solid silver;
    padding:10px;
    color:blue;
    height:400px;
    width:600px;
    font-size:1.5em;
    }
    nav.boutons{
      margin-left:200px;
    }
    nav.boutons .btn-primary{
      width:300px;
      height:200px;
      padding:40px;
      margin-bottom:50px;
      border-radius:none;
      float:left;
      font-size:1.5em;
    }
    nav.boutons li{
      display:inline-block;
    }


    nav ul.button-help-numerique a{
      color:white;
    }
  }

@media only screen and (min-width :768px) and (max-width:1366px){
/* Styles pour cette Media Queries *//** pour tablette **/
.content-illectronisme{
  min-width:768px;
  max-width:1366px;
  margin:0;
}

h1{
  color:rgb(122, 174, 218);
  margin-top:100px;
}
  h2{
    text-align:center;
    color:rgb(72, 165, 252);
  }
    h3{
      color:rgb(136, 195, 243);
      padding-left:250px;
      padding-right:250px;
      text-align:center;
    }
  .description{
    padding:50px;
    text-align:center;
    margin-left:200px;
    margin-right:200px;
    background:white;
    border:2px solid silver;
    padding:10px;
    color:blue;
    height:400px;
    width:400px;
    font-size:1.5em;
  }
  nav.boutons{
    margin-top:100px;
    margin-left:200px;
  }
  nav.boutons .btn-primary{
    width:200px;
    height:100px;
    padding:10px;
    margin-bottom:50px;
    border-radius:none;
    float:left;
    font-size:1.3em;
  }

}

@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
  /** pour phone **/
  .content-illectronisme{
    min-width:288px;
    max-width:767px;
    width:100%;
    margin:0;
    margin-bottom:200px;
  }
  
  h1{
    color:rgb(122, 174, 218);
    margin-top:100px;
  }
    h2{
      text-align:center;
      color:rgb(72, 165, 252);
    }
      h3{
        color:rgb(136, 195, 243);
        padding:0;
        text-align:center;
      }
    .description{
    color:white;
    width:200px;
    padding:10px;
    font-size:0.8em;
    padding-bottom:100px;
    }
    nav.boutons{
      margin-top:100px;
      margin-left:0;
    }
    nav.boutons .btn-primary{
      color:rgb(72, 165, 252);
      background:white;
      padding:10px;
      width:100%;
      border-radius:none;
      float:left;
      font-size:1.3em;
    }
  }
