#admin_connect{
    position:relative;
    background:blue;
    z-index:2000px;
    height:60px;
    font-size:1em;
    padding:10px;
}
#admin_connect a{
   color:silver;
}
.btn-admin{
    background:rgb(9, 9, 39);
    border-radius:10px;
    border:1px solid rgb(9, 9, 39);
    color:rgb(238, 206, 26);
    padding:10px;
    font-size:1em;
}