/* You can add global styles to this file, and also import other style files */

  .navbar-brand
          {
            font-family: 'Lato', sans-serif;
            color:grey;
            font-size:20px;
            margin: 20px;
          }