
/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 */
 @media only screen and (min-width:1367px){
  /** Brunembert : Sidebar Home media querries **//** pour pc**/
  body {
    overflow-x: hidden;
  }

  /** le bouton JS affiche **/
  .img-responsive{
    display:none;
  }
  .brunembert-info{
  display:none;
  }
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left:-50rem;
  }

  #sidebar-wrapper {
    /** fenêtre gauche droite js **/
    position:absolute;
    top:105px;
    background:#0f3a64!important;
    background:transparent;
    border:none!important;
    height:120px;
    z-index:9999;
    float:left;
    margin-left:-200rem;
    margin-bottom:50px;
    width:500px;
    -webkit-transition: margin .50s ease-out;
    -moz-transition: margin .50s ease-out;
    -o-transition: margin .50s ease-out;
    transition: margin .50s ease-out;
  }

    #sidebar-wrapper h2{
      margin:0;
      font-size:1em;
      color:rgb(43, 46, 32)!important;
      background:none!important;
      padding:10px;
    }
      #sidebar-wrapper p{
        color:silver;
      }

    /** ARTICLES **/
    .articles{
      width:280px;
      margin-left:10px;
      margin-right:40px;
    }
      .article-brunembert-info h3{
        padding:10px;
        text-align:center;
        width:300px;
      }
      .article-brunembert-info h2{
        padding-left:30px;
        width:200px;
      }
      .text-article p{
        margin-top:20px;
        width:300px;
      }
      .list-group a{
        background:none!important;
      }
      .formulaire-sondage p{
        float:left;
      }
        .btn-sondage-css-simple-sidebar{
          color:#0f3a64!important;
          background:rgb(144, 187, 25)!important;
          border-radius:8px;
          text-align:center;
          margin-left:250px;
          width:200px;
          font-size:1em;
        }
        

    /** FIN CSS ARTICLES **/

    .d-flex .navbar-aside a{
      font-size:2em;
      margin-bottom:0;
    }
    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group p {
    color:silver;
    }

    #page-content-wrapper {
      min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }

    #sidebar-wrapper {
      margin-left: 0;
      margin-top:50px;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left:-50rem;
    }
    .list-group-flush {
      margin:10px;
    }
    .list-group-flush button{
      padding:5px;
    }

  .sidebar-wapper a.btn-primary{
    background-color:none!important;
  }
}
/** Brunembert : Home media querries **/

@media only screen and (min-width :768px) and (max-width:1366px){
  /* Styles pour cette Media Queries *//** pour tablette **/
 


}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
  /** pour phone **/

    }