/** Brunembert : accessibilite media querries **/
/** pour pc **/
    .content-accessibilite{
      margin-top:50px;
      margin-bottom:100px;
    }
    .banniere-accessibilite-pc{
      min-width:1280px;
      width:100%;
    }
    .accessibilite-content{
      margin-left:200px;
      margin-right:200px;
    }
  .card-content{
    color: rgb(243, 12, 166);
    margin-top:100px;
    margin-bottom:10px;
    padding-top:20px;
    margin-left:100px;
    margin-right:200px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:20px;
  }

  .card-content p{
    background:white;
    padding:20px;
    opacity:0.7;
  }


/** Brunembert : accessibilité media querries **/
/** pour tablette **/
@media only screen and (min-width :771px) and (max-width:1280px){
  .content-accessibilite{
    min-width:771px;
    max-width:1280px;
    width:100%;
    margin:0;
    padding:0;
  }
  .banniere-accessibilite-pc{
    margin:0;
    margin-top:200px;
    min-width:771px;
    max-width:1280px;
    width:100%;
  }
  .img-info p{
    float:right;
  }
  .card-content{
    color: rgb(243, 12, 166);
   margin:0;
  }
}

/** Brunembert : accessibilité media querries **/
/** pour phone **/
@media only screen and (min-device-width : 280px) and (max-device-width : 770px) {
  .content-accessibilite{
      min-width:280px;
      max-width:770px;
      margin:0;
      padding:0;
    }
    .banniere-accessibilite-pc{
      min-width:280px;
      max-width:770px;
      width:100%;
      margin-top:150px;
      margin-bottom:0;
     }
     
    h1{
      font-size:1.2em;
      font:bold;
      width:100%;
      padding:20px;
    }
    h2{
      padding:0;
      padding:10px;
    }
   
   .accessibilite-content{
     padding:0;
     min-width:280px;
     max-width:770px;
     margin-top:50px;
     margin-left:20px;
     margin-right:20px;
   }
   .content-text-access{
    min-width:280px;
    max-width:770px;
     padding:0;
     margin:0;
     width:280px;
   }

   .card-content{
    color: rgb(9, 5, 68);
    margin:0;
    padding:0;
  }
}