/* brunembert.fr mediaquerries documents **/

  @media only screen and (min-width:1367px)
  {/** Brunembert : Home media querries **//** pour pc**/
    .content-documents
    {
      margin:200px;
      margin-bottom:200px;
    }
    nav.selectionnez-votre-document{
      float:left;
    }
    nav.selectionnez-votre-document li{
      display:block;
    }
      nav.selectionnez-votre-document button{
        width:300px;
        height:50px;
        background:white;
        color:rgb(55, 102, 163);
        border:1px solid rgb(219, 224, 233);
        font-size:2em;
      }

    section.les-documents{
      position:relative;
      background:white;
      height:3500px;
      width:800px;
      margin-left:500px;
    }
    section .container-docs{
      background:rgb(249, 250, 252);
      height:550px;
      width:800px;
      margin-bottom:50px;
      border:1px solid rgb(228, 230, 229);
    }
    h1{
      font-size:2em;
      background:rgb(228, 230, 229);
    }
      h2{
        background:rgb(55, 102, 163);
        color:rgb(204, 219, 228);
      }
        h3{
          color:rgb(55, 102, 163);
          background:rgb(204, 219, 228);
          font-size:1.2em;
          padding:5px;
        }
          h5.card-title{
            color:black;
            background:rgb(242, 244, 245)!important;
            padding:10px;
          }

      img.logos-thematiques{
        min-height:50px;
        max-height:100px;
        min-width:80px;
        max-width:200px;
      }
  }

  @media only screen and (min-width:768px) and (max-width:1366px){
  /* Styles pour cette Media Queries *//** pour tablette **/  
  .content-documents
    {
      margin:100px;
    }
  }

/* pour phone **/
  @media only screen and (min-device-width:280px) and (max-device-width:767px) 
  { 
    .content-documents
    {
      margin:10px;
    }
    nav.selectionnez-votre-document button{
      width:200px;
      height:50px;
      margin:20px;
    }
  }