/** Brunembert : Admin media querries **/

header{
    margin-left:-1500px;
}
footer{
    visibility: hidden;
}
.fa-arrow-circle-up{
    visibility: hidden;
}

@media only screen and (min-width:1367px){
    /** Brunembert : Home media querries **//** pour pc**/
    
    .main-head{
        height: 550px;
        background: #FFF;
    }

    .sidenav {
        height: 100%;
        /* background-color: rgb(9, 29, 71); */
        overflow-x: hidden;
        padding-top: 20px;
        margin-bottom:200px;
    }
    .error{
      height:50px;
      width:100%;
      margin: 50px auto; 
      text-align:center;
      line-height:50px;
      border:1px solid #FF3333;
      color: #FF3333;
      background-color:#FF8787;
      border-radius:10px; 
      }
      .success{
          height:50px;
          width:100%;
          margin: 50px auto; 
          text-align:center;
          line-height:50px;
          border:1px solid #45BA30;
          color: #45BA30;
          background-color:#95FF82;
          border-radius:10px; 
      }
    .welcome-admin{
    height:50px;
    width:100%;
    margin: 150px auto; 
    text-align:center;
    line-height:50px;
    border:1px solid #45BA30;
    color: #45BA30;
    background-color:#95FF82;
    border-radius:10px; 
    }
    
    .main {
        padding: 0px 10px;
        position:relative;
    }
}


@media only screen and (min-width :768px) and (max-width:1366px){
/* Styles pour cette Media Queries *//** pour tablette **/
}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
/** pour phone **/
}


    /**error et success**/
    @media only screen and (min-width :980px){
                body {
                font-family: "Lato", sans-serif;
            }
            h2{
                color:rgb(22, 90, 153);
            }
            h2 span{
                color:white;
            }
        
        
                
        @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
            }

        @media screen and (max-width: 450px) {
                .login-form{
                    margin-top: 10%;
                }

                .register-form{
                    margin-top: 10%;
                }
            }

        @media screen and (min-width: 768px){
            .main{
                margin-left: 40%; 
            }

            .sidenav{
                width: 40%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
            }

            .login-form{
                margin-top: 80%;
                width:500px;
            }
            .login-form input{
            font-size:1.6em;
            }

            .register-form{
                margin-top: 20%;
                font-size:1.6em;
            }
        }
                        

        .login-main-text{
        margin-top: 20%;
        padding: 60px;
        color: #fff;
        }

        .login-main-text h2{
        font-weight: 300;
        }

        .btn-black{
        background-color: #000 !important;
        color: #fff;
        font-size:1.6em;
        }
        .btn-secondary{
        font-size:1.6em;
        }
    }
