section h1{
    margin-top:120px;
}

.mes_informations{
    margin-top:120px;
    float:left;
    padding:20px;
    width:200px;
    height:800px;
    background-color:rgb(9, 9, 39);
    border:3px solid rgb(9, 9, 39);
}
    .mes_informations p{
        color:rgb(247, 247, 247);
    }
    .mes_informations h3{
        color:rgb(247, 247, 247);
    }

section.slide-actus{
    margin-top:100px;
    float:left;
    padding:20px;
    width:150px;
    height:auto;
    background:rgb(252, 252, 252);
    border:2px solid rgb(233, 241, 240);
}
    section.slide-actus h3{
        background:rgb(9, 9, 39);
        border:2px solid rgb(9, 9, 39);
        color: rgb(233, 241, 240);
        width:150px;
        font-size:1em;
        padding:20px;
        margin-top:10px;
    }


section.article-homeDashboard{
    margin-left:450px;
    height:auto;
    max-width:1200px;
    background:rgb(247, 253, 255);
    padding:10px;
}
    section.article-homeDashboard .article{
        width:350px;
        height:500px;
        background:rgb(252, 252, 252);
        border:2px solid rgb(233, 241, 240);
        color:white;
        padding:20px;
        display:inline-block;
    }
    section.article-homeDashboard .article h3{
        color:rgb(9, 9, 39);
    }
    section#article-homeDashboard .article p{
        color:rgb(233, 241, 240);
        font-size:1em;
    }
    button.primary{
        height:60px;
        width:120px;
        margin:10px;
        background-color:rgb(233, 241, 240);
        border:2px solid rgb(233, 241, 240);
        border-radius:10px;
        color:rgb(9, 4, 29);
    }
    h3 i.fas{
        font-size:3em;
    }
        button i.fas{
            font-size:2em;
        }
        button.delete i{
            color:rgb(224, 21, 21);
        }
        button.create i{
            color:rgb(11, 14, 54);
        }
        button.update i{
            color:rgb(243, 133, 30);
        }
        button.read i{
            color:rgb(19, 165, 38);
        }
        button.share i{
            color:rgb(19, 165, 38);
        }
        button.archives i{
            color:rgb(1, 10, 22);
        }