/** Brunembert : footer media querries **/
@media only screen and (min-width:1367px){
    /** Brunembert : Home media querries **//** pour pc**/
    footer{
        min-width:1281px;
        margin-top:300px;
        padding-top:10px;
        padding-bottom:30px;
        height:180px;
        background-color:rgb(10, 30, 53);
        text-align:center;
        z-index:5;
    }
    footer p{
        font-size:1.3em;
        color:rgb(10, 30, 53);
    }
    footer .nav-headerFooter a{
        font-size:1em!important;
        color:rgb(238, 206, 26)!important;
    }
    footer #nav-footer a{
        color:rgb(12, 53, 100);
    }
        footer .rappel-navHeader li{
            display:inline-block;
            font-size:1em;
            padding-right:30px;
        }
        footer .footer-header a.navbar-brand{
           margin-bottom:20px!important;
           width:100%;
        }
        footer #nav-footer{
            margin-top:100px;
            z-index:9999;
        }
        .carte{
            position:relative;
            padding-top:10px;
            padding-bottom:10px;
          }
            .carte iframe{
            width:1200px;
            height:200px;
            }
}

/** Brunembert : Home media querries **/

@media only screen and (min-width :768px) and (max-width:1366px){
/* Styles pour cette Media Queries *//** pour tablette **/
    footer{
       margin:50px;
    }
    footer .navbar-header{
        min-width :570px;
        max-width:700px;
        min-height:20px;
        max-height:50px;
        width:auto;
        padding:0;
    }
    footer a{
        color:rgb(23, 212, 180)!important;
    }
    .navbar-header li.nav-item{
        padding:0;
    }
    .navbar-header li.nav-item a{
        font-size:1em!important;
        color:rgb(213, 213, 231)!important;
    }

}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
/** pour phone **/
    footer{
        margin-top:300px;
        min-width:280px;
        max-width:768px;
        margin-top:1200px;
        padding:20px;
        min-height:300px;
        max-height:auto;
        min-width:280px;
        width:100%;
        z-index:300;
        } 
        footer a{
            color:rgb(23, 212, 180)!important;
        }
        footer #nav-footer{
            margin-top:100px;
            z-index:9999;
        }
        .footer-header li.nav-item{
            padding-top:30px;
        }
}
