
/** CONTACT brunembert.fr media querries **/
@media only screen and (min-width:1367px){
  /** Brunembert : Home media querries **//** pour pc**/
  
  .contact{
    margin-top:400px;
    margin-bottom:500px;
  }
  h1{
      color:rgb(238, 206, 26);
      padding:30px;
      width:100%;
      background:rgb(9, 9, 39);
  }
  /** section infos contact **/
  .info-contact{
    position:absolute;
    top:120px;
    margin-left:500px;
    height:300px;
    padding:60px;
    width:750px;
    color:rgb(238, 206, 26);
    background:rgb(253, 255, 255);
  }
  .info-contact i{
    color:rgb(196, 226, 230);
    font-size:3em;
  } 
  .info-contact .title{
    color:rgb(9, 9, 39);
  } 
  .info-contact a{
    color:rgb(9, 9, 39);
  } 

  #img-mairie-pour-contact p{
    color:rgb(238, 206, 26);
  }
  /** formulaire **/
  form{
  border:1px solid rgb(248, 241, 241);
  width:750px;
  height:1150px;
  margin-left:500px;
  margin-right:200px;
  margin-top:300px;
  padding:50px;
  background:linear-gradient(rgb(9, 9, 39),#f1f1f1);
  font-size:1.3em;
  }
  input{
  width:600px;
  height:30px;
  background-color:rgb(252, 252, 252);
  margin:20px;
  padding:20px;
  color:rgb(9, 9, 39);
  border-radius:5px;
  border:1px solid rgb(199, 199, 218);
  }
      input.send{
          background:rgb(9, 9, 39);
          border: 1px solid rgb(9, 9, 39);
          font-size:1.2em;
          color:rgb(238, 206, 26);
          width:200px;
          padding-bottom:20px;
          height:60px;
      }
  textarea{
  min-width:600px;
  min-height:100px;
  color:rgb(9, 9, 39);
  }
  textarea.message{
    color:rgb(9, 9, 39);
    padding:20px;
    font-size:1.5em;
  }
  }

@media only screen and (min-width :768px) and (max-width:1366px){
/* Styles pour cette Media Queries *//** pour tablette **/
  .content-contact{
    margin:0;
    padding:0;
    margin-top:150px;
    text-align:center;
    background:rgb(248, 248, 248);
  }
  #img-mairie-pour-contact img{
    margin-left:20px;
  }

  h1{
    margin-top:200px;
    padding-top:250px;
    margin-bottom:10px;
  }
  h2{
    color:rgb(153, 169, 202)!important;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:30px;
    margin-right:30px;
  }
  .contactCentre{
    margin-left:550px;
    height:350px;
  }
  .permanences{
    top:1050px;
    height:650px;
    margin-left:0;
    padding:20px;
  }

  .carte{
    position:relative;
    margin-left:150px;
    margin-bottom:800px;
    padding-top:10px;
    padding-bottom:10px;
  }
  .carte iframe{
  width:380px;
  height:200px;
  }
}




@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
/** pour phone **/
  .content-contact{
    padding:0;
    margin:0;
  }
  .contactCentre{
    text-align:center;
    margin-left:0;
    width:300px;
    height:605px;
    padding:10px;
    border:1px solid silver;
  }
  .content-contact h1{
    margin-top:180px;
    padding:20px;
    text-align:center;
    background-color:rgb(5, 2, 39);
    color:silver;
    font-size:1.7em;
  }
  .content-contact h2{
    padding:50px;
    font-size:1.5em;
    width:300px;
  }
  .intro-contact a{
    margin:0;
    padding:0;
    background:none!important;
    color:rgb(14, 141, 135);
  }

  #img-mairie-pour-contact img{
    min-height:100px;
    max-height:300px;
    height:auto;
    min-width:100px;
    max-width:300px;
    width:auto;
    margin:20px;
  }


  .carte-contact{
    width:300px;
    height:200px;
  }
}

