@media only screen and (min-width:1367px){
/** Brunembert : Home media querries **//** pour pc**/
.content-home{
  margin-bottom:200px;
}
  .content-home a{
    color:rgb(35, 204, 196);
    font-size:1em;
  }
  #click-and-develop-the-page{
    /** bouton découvrir brunembert **/
    position:absolute;
    top:600px;
    z-index:30000;
    background:#0f3a64;
    border:1px solid silver;
    border-radius:10px;
    text-align:center;
    widows: 16px;
    margin-left:850px;
    opacity:0.8;
    color:silver;
    padding:10px;
    font-size:2em;
  }
  #click-and-develop-the-page:hover{
    background:silver;
    color:#0f3a64;
  }
        #p-button{
          color:silver;
          font-size:0.6em;
        }
        #p-button:hover{
          color:#0f3a64;
        }
  .up-window-information{
    position:absolute;
    float:left;
    top:155px;
    height:120px;
    z-index:1000;
    width:100%;
    padding:10px;
    opacity:0.8;
    background:rgb(144, 187, 25);
    text-align:center;
    color:rgb(16, 35, 36);
    font-size:1.3em;
  }
  .up-window-information span{
    padding-top:50px;
  }
  .up-window-information a{
    color:rgb(5, 26, 32);
    padding-top:50px;
  }

  .bouton-fermer-sondage{
    position:relative;
    background-color:#076270;
    color:rgb(144, 187, 25);
    font-size:1em;
    z-index:12;
  }


  /** section histoire " découvrir brunembert **/
  .welcome-content-home{
    margin-top:100px;
    margin-left:300px;
    margin-right:300px;
    margin-bottom:200px;
  }
      .texte-de-bienvenue{
        margin-top:30px;
        text-align:center;
        margin-left:100px;
        margin-right:100px;
        margin-bottom:20px;
      }
        .texte-de-bienvenue-part-one{
          width:400px;
          padding:50px;
          float:left;
          margin-left:400px;
        }
        .texte-de-bienvenue-part-two{
          width:400px;
          margin-left:700px;
          top:0;
          color:black;
          font-size:1.5em;
          padding:50px;
        }
      h2{
        background:#076270;
        color:rgb(144, 187, 25)!important;
        font-family: 'Orbitron', sans-serif;
      }
      h3{
        color:#076270;
        margin:20px;
      }
      section .pics-history{
       width:700px;
       margin-left:450px;
      }
      section .pics-history h2{
        color:rgb(4, 4, 43);
        margin:0;
        text-align:left;
       }

      section .pics-history .btn-primary{
        margin-left:500px;
        font-size:1.3em;
      }

      /** btn-brunembert-info **/

      #phone-responsive{
        position:relative;
        margin-left:1600px;
        top:800px;
        height:0;
        background:none!important;
      }

      span.carousel-control-next-icon{
        width:100px;
        height:100px;
        background-size:80%;
      }     
      span.carousel-control-prev-icon{
        background-color:transparent;
        width:100px;
        height:100px;
        background-size:80%;
      }

      img.w-100{
        height:1000px;
        width:1200px;
      }
      /** actus **/
      .infos-js-dashboard-auto-actus{
        position:absolute;
        top:1100px;
        text-align:center;
        padding:50px;
        float:right;
        margin-bottom:100px;
      }
      .infos-js-dashboard-auto-actus .card{
        margin-right:10px; 
        margin-bottom:5px;
        padding:20px;
      }
        .infos-js-dashboard-auto-actus .card img{
          width:25rem; 
        }
      }




/** Brunembert : Home media querries **/

@media only screen and (min-width :768px) and (max-width:1366px){
  /* Styles pour cette Media Queries *//** pour tablette **/
 


}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
  /** pour phone **/
  .content-home{
    margin-bottom:0;
  }
    #click-and-develop-the-page{
      /** bouton découvrir brunembert **/
      top:100px;
      z-index:3000;
      margin-left:70px;
      font-size:1em;
    }
    
  }