<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PERSONEL MANAGEMENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         LIST
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Employees</a>
          <a class="dropdown-item" href="#">Managers</a>
          <a class="dropdown-item" href="#">Missions</a>
          <a class="dropdown-item" href="#">Département</a>
          <div class="dropdown-divider"></div>
         
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         CREATE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Employees</a>
          <a class="dropdown-item" href="#">Managers</a>
          <a class="dropdown-item" href="#">Missions</a>
          <a class="dropdown-item" href="#">Départments</a>
          <div class="dropdown-divider"></div>
         
        </div>
      </li>
     
    </ul>
    <!-- Bar search -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <<button type="button" class="btn btn-dark" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="container">

  <div class="jumbotron mt-5">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">welcome to your personnel management application.</p>
    <hr class="my-4">
   
   
  </div>

  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

<p></p>

  </div>


</div>

<footer >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
      <div class="navbar-header">
      
          <span class="navbar-brand">
            <p>POEI JAVA Capgemini Projet 2021 - Cécile, Caroline, Alexandra et Justine </p>
          </span>
          
      </div>
      <p class="navbar-text navbar-right">company &copy; 2021</p>
  </div>
</nav>
</footer>

