/* galerie.php mediaquerries brunembert.fr */
@media only screen and (min-width:1367px){
  /** Brunembert : Home media querries **//** pour pc**/
  .content-galerie{
    margin-top:150px;
    margin-left:250px;
    margin-right:250px;
  }
  h1{
    background:rgb(16, 66, 114);
    color:rgb(179, 198, 206);
    padding:10px;
    font-size:1.8em;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
  }
  
  .thumbnail {
    padding: 0;
  }
  
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
  }
  #slider-thumbs {
    padding:50px;
    height: 565px;
    overflow-y: scroll;
    white-space: nowrap;
  }
  #slider{
    margin:50px;
  }
}

@media only screen and (min-width :768px) and (max-width:1366px){
/* Styles pour cette Media Queries *//** pour tablette **/
}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
/** pour phone **/
}
